################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCore/YOYO.AspNetCore.Builder/bin
/AspNetCore/YOYO.AspNetCore.Mvc/bin
/AspNetCore/YOYO.AspNetCore.Owin/bin
/AspNetCore/YOYO.AspNetCore.Owin/obj
/AspNetCore/YOYO.AspNetCore.ViewEngine.Razor/bin
/AspNetCore/YOYO.AspNetCore.ViewEngine.Razor/obj
/Hosts/CoreHost/bin
/Hosts/CoreHost/obj
/Hosts/NET451OwinHost/bin/Debug/net451
/Hosts/NET451OwinHost/obj/Debug/net451
/Native/LibCaptchaImage/Debug
/Native/LibCaptchaImage/x64
/Native/LibCaptchaImageWarp/bin
/Native/LibCaptchaImageWarp/obj
/OldProjects/YOYO.ActionRuntime.Python/obj
/OldProjects/YOYO.NUnitTest/obj
/ORM/ExtendPropertyLib/bin/Debug
/ORM/ExtendPropertyLib/obj
/ORM/MaxZhang.EasyEntities.Persistence/bin/Debug
/ORM/MaxZhang.EasyEntities.Persistence/obj/Debug
/ORM/YGC/bin/Debug
/ORM/YGC/obj/Debug
/Tests/bin/Debug/netcoreapp1.0
/Tests/obj/Debug/netcoreapp1.0
/x64/Debug
/AspNetCore/YOYO.AspNetCore.Builder/obj
/ORM/MaxZhang.EasyEntities.Persistence/obj/Release
/YOYOFx.VC.db
.vs/YOYOFx/v14/.suo
AspNetCore/YOYO.AspNetCore.Mvc/obj/Debug/net451/.IncrementalCache
*.IncrementalCache
AspNetCore/YOYO.AspNetCore.Mvc/obj/Debug/net451/.IncrementalCache
AspNetCore/YOYO.AspNetCore.Mvc/obj/Debug/net451/dotnet-compile-csc.rsp
