################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCore/YOYO.AspNetCore.Builder/bin
