################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCore/YOYO.AspNetCore.Builder/bin/
/AspNetCore/YOYO.AspNetCore.Builder/obj/
/AspNetCore/YOYO.AspNetCore.Mvc/bin/
/AspNetCore/YOYO.AspNetCore.Mvc/obj/
/AspNetCore/YOYO.AspNetCore.Owin/bin/
/AspNetCore/YOYO.AspNetCore.Owin/obj/
/AspNetCore/YOYO.AspNetCore.ViewEngine.Razor/bin/
/AspNetCore/YOYO.AspNetCore.ViewEngine.Razor/obj/
/AspNetCore/YOYO.Extensions.DI/bin/
/AspNetCore/YOYO.Extensions.DI/obj/
/AspNetCore/YOYOFx.Extensions.DependencyInjection/bin
/AspNetCore/YOYOFx.Extensions.DependencyInjection/obj
/Hosts/CoreHost/bin/
/Hosts/CoreHost/obj/
/Hosts/NET451OwinHost/bin/
/Hosts/NET451OwinHost/obj/
/Native/LibCaptchaImage/Debug/
/Native/LibCaptchaImage/x64/
/Native/LibCaptchaImageWarp/bin/
/Native/LibCaptchaImageWarp/obj/
/OldProjects/YOYO.ActionRuntime.Python/obj/
/OldProjects/YOYO.NUnitTest/obj/
/ORM/ExtendPropertyLib/bin/
/ORM/ExtendPropertyLib/obj/
/ORM/MaxZhang.EasyEntities.Persistence/bin/
/ORM/MaxZhang.EasyEntities.Persistence/obj/
/ORM/YGC/bin/
/ORM/YGC/obj/
/Tests/bin/
/Tests/obj/
/x64/
/YOYOFx.VC.db
/.vs/
/.vscode/
/packages
/YOYOFx.VC.VC.opendb
