<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <form class="form" action="/Home/UserLoginAction/" method="post">
        <p><span class="label">name:</span><input type="text" name="name" /></p>
        <p><span class="label">password:</span><input type="password" name="password" /></p>
        <p><span class="label">captcha:</span><img src="/Home/Captcha" width="100" height="25"/><input type="text" name="code" /></p>
  

        <p><span class="label">&nbsp;</span><input type="submit" value="Submit" /></p>
    </form>

</body>
</html>
