@inherits YOYO.ViewEngine.RazorViewEngine.RazorEngineTemplate<List<YOYOFxMvcDemo.MyUser>>
@{
    Layout = "/Views/_Layout.cshtml";
}
<div>
    @foreach(var user in Model) { 
        <p>@Html.Raw( user.Name)</p>
    }

</div>

